* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main__container {
    background-image: url(/assets/img/erik-cid-lPEDGBua4-k-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}

.quiz__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container__liner {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    width: 400px;
}

.quiz__header {
    padding: 2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.1rem;
    margin: 1rem 0;
}

button {
    background-color: #8e44ad;
    width: 100%;
    display: block;
    padding: 1rem;
    color: #FFF;
    font-size: 1.3rem;
    cursor: pointer;
}